{% extends 'base.html' %}

{% block extra_body %}
    <script>
        /*
            _photo_list html에 클래스 지정
            .photo-status 지정된 태크 클릭시
            해당 post.id 값 전달
            모달창 클래스 지정 a 태그 설정
            post.id 값과 원하는 url을 모달창 a태크 url 설정
         */
        $(document).on('click', '.photo-status', function (e) {
            e.preventDefault(); // 기본동작 중지
            var url = $(this).attr('href');
            var url_id = $(this).attr('id');
            $.get(url)
                .done(function(response){
                });

            var $modal = $('#modal-status');
            $modal.find('.btn-detail').attr('href','update/'+url_id);
            $modal.find('.btn-delete').attr('href','delete/'+url_id);
            $modal.modal();
        });
    </script>
{% endblock %}

{% block content %}
    {% if photos %}
        {% include 'photo/_photo_list.html' %}
    {% endif %}

    <a href="{% url 'photo:create' %}">생성</a>
    <!----
    <div class="modal hidden" id="modal-status">
        <div class="modal__overlay"></div>
        <div class="modal_content">


            <button>닫기</button>
        </div>
    </div>-->

    <div class="modal fade" id="modal-status" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h1><a class="btn-detail">수정</a></h1>
                <h1><a class="btn-delete">삭제</a></h1>
                <button type="button" class="close" data-dismiss="modal">
                    <span>취소</span>
                </button>
            </div>
        </div>
    </div>
   </div>
{% endblock %}