{% extends 'base.html' %}


{% block content %}
    {% if photos %}
        {% for post in photos %}
            <p>{{ post.author }}</p>
            <button id="open" onclick="openModal()">∙∙∙</button>
            <img src="{{ post.photo.url }}" alt="">
            <p>{{ post.id }}</p>
        {% endfor %}

    {% endif %}

    <a href="{% url 'photo:create' %}">생성</a>
 <div class="modal hidden">
        <div class="modal__overlay"></div>
        <div class="modal_content">
            <h1><a href="">수정</a></h1>
            <h1><a href="">삭제</a></h1>
            <button>닫기</button>
        </div>
    </div>
{% endblock %}

